[Unit]
Description=UDBSync daemon for mangos (WoW server)
After=network-online.target

[Service]
Type=simple
User=root
Group=udbsync_public
ExecStart=/opt/prologin/venv/bin/python /usr/share/mangos/udbsync_mangos.py
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
