[Unit]
Description=WoW Mangosd
After=network-online.target

[Service]
User=mangos
Group=mangos
ExecStart=/home/mangos/run/bin/mangosd -c /home/mangos/run/etc/mangosd.conf
Type=simple
RestartSec=3
Restart=always
StandardInput=tty-force
StandardOutput=journal
TTYPath=/dev/tty4

[Install]
WantedBy=multi-user.target
