[Unit]
Description=WoW Mangosd
After=network-online.target

[Service]
User=mangos
Group=mangos
ExecStart=/home/mangos/run/bin/realmd -c /home/mangos/run/etc/realmd.conf
Type=simple
RestartSec=3
Restart=always

[Install]
WantedBy=multi-user.target
